.clickable{
    cursor: pointer;
}
.center{
    display:block;
    align-items:center;
    padding-left:auto;
}
.searchbar{
    width: 500px;
    background-color: grey;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
    padding-left: 10%;
}
input{
    display:flex;   
    flex-direction: column;
    /*width:26%;*/
    height:50px;
}
body{
    margin:0;
}

/* Navbar*/
#navbar{
    position: fixed;
    width:100%;
    backdrop-filter: blur(6px);
}
.header-element{
    padding: 8px 16px;
    
    border: none;
    display: block;
    outline: 0;
}
.auto{
    width:auto;
}
.left{
    float:left;
}
.right{
    float:right;
}
.profile{
    position: absolute;
    float: right;
    height: 100%;
    
}
button{
    
    height: 100%;
    cursor: pointer;
}



.main{

    height:100%;
    background-image: url("/media/AM1506.jpg");
    background-size: cover;
}